@accent-color: #30ACC9;
body {
	font-family: Cormorant, sans-serif;
	font-size: 16px;
	.basic-transition(0.5s);
	@media @desktop {
		font-size: 19px;
	}
}
ul {
	.no-style-list;
}
span {
		color: @accent-color;
		font-weight: bold;
		font-style: italic;
	}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.nav {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999999;
}
.slicknav_menu, .nav {	
	-webkit-box-shadow: 0px 5px 5px 0px #000000;
	-moz-box-shadow: 0px 5px 5px 0px #000000;
	box-shadow: 0px 5px 5px 0px #000000;
}

#main-menu {
.basic-transition(0.3s);
			font-size: 14px;
			@media @desktop {
				font-size: 17px;
			}
	a {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		.basic-transition(0.5s);
		&:hover {
			text-decoration: underline;
			color: @accent-color;
		}
	}
	.center;
	ul {
		height: 49px;
		li {
			display: inline;
			padding: 15px 10px;
			line-height: 45px;
			
			
		}
	}
}
.slicknav_menu {
	display: none;
	.basic-transition(0.5s);
	background: #000;
}
#menu {
	display: block;
}
.logo {
	.basic-transition(0.3s);
	font-size: 14px;
	@media @desktop {
		font-size: 17px;
	}
	margin-left: 10px;
	display: block;
	float: left;
	height: 49px;
	line-height: 49px;
	font-family: Cormorant, sans-serif;
	z-index: 99999999999;
	a {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		.basic-transition(0.5s);
		&:hover {
			text-decoration: underline;
			color: @accent-color;
		}
	}
}
@media all and (max-width: 700px) {
	/* #menu is the original menu */
	#menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
}
section {
	padding: 60px 30px;

	.title {
		color: @accent-color;
		margin: 0 auto;
		.center;
		h1 {			
			.basic-transition(0.5s);			
			font-size: 26px;
			color: @accent-color;
			@media @desktop {
				font-size: 44px;
			}
		}
	}
	h1::after {
		display: block;
		margin: 0 auto;
		content: "";
		width: 70px;
		border-bottom: 3px solid @accent-color;
		.center;
		.basic-transition(0.5s);	
		@media @desktop {
			width: 120px;
		}
	}
	p {
		.center;
	}
}
.about {
	.center;
	
	p {
		margin-top: 10px;
	}
}
.portfolio {
	border-top: 1px solid @accent-color;
	border-bottom: 1px solid @accent-color;
	background: #cccccc;
	margin: 0 auto;
	h2, h3 {
		color: @accent-color;
	}
	h2 {
		font-size: 23px;
	}
	h3 {
		font-size: 21px;
	}
	@media @desktop {
		h2 {
			font-size: 29px;
		}
		h3 {
			font-size: 26px;
		}
	}
	a {
		color: @accent-color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.portfolio-item {	
	border: 1px solid #000;
	padding: 5px;
	background: #e2e2e2;
	.center;
	margin-bottom: 15px;
}
.portfolio-item-img {
	.center;
	img {
		background: @accent-color;
		.center;
		border: 1px solid #000;	
		padding: 5px;
		max-width: 270px;
		max-height: 270px;
		.size(99%;99%);
	}
}
.portfolio-item-content {
	padding: 15px;
}
.portfolio-item-links {
	.center;
	padding: 15px;
	span {
		display: inline-block;
		.size(100px;100px);
		color: #47b5cf;		
		i {
			.size(100px;100px);
			color: #47b5cf;	
			font-size: 75px;
			.basic-transition(0.5s);
			&:hover {
				font-size: 90px;
				color: @accent-color;
			}
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.skills {
	background: #cccccc;
	border-top: 1px solid @accent-color;
	border-bottom: 1px solid @accent-color;
}
.contact {
	margin-bottom: 130px;
}
footer {
	background: #000000;
	color: #fff;
	.center;
	padding: 15px;
	border-top: 1px solid @accent-color;
}
.social {
	a {
		color: #fff;
		&:hover {
			color: @accent-color;
		}
		i{
			.size(35px;35px);
			font-size: 24px;
		}
	}
}
